body {
  background-image: url(photo.jpg);
}

ul {
  list-style-type: none;
  margin: -8px;
  padding: 0px;
  width: 450px;
  opacity: 0.5;
  background-color: white;
  height: 800px;
  float: right;
}

li a {
  display: block;
  color: #1e1e1e;
  padding: 25px 70px;
  font: courier;
  font-family: monospace;
  font-size: 20px;
}

.title {
  width: 500px;
  height: 60px;
  padding-top: 50px;
  padding-left: 30px;
  font-size: 38px;
  color: #232323;
  font: courier;
  font-family: monospace;
  font-weight: 500;
}

.sub {
  padding-left: 30px;
  font-size: 25px;
  font: courier;
  color: #454545;
  font: courier;
  font-family: monospace;
  font-weight: 200;
}

.first {
  padding-top: 50px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #232323;
}
