body {
  background-image: url(photo.jpg);
}

.title {
  width: 500px;
  height: 60px;
  padding-top: 50px;
  padding-left: 30px;
  font-size: 38px;
  color: #232323;
  font: courier;
  font-family: monospace;
  font-weight: 500;
}

.sub {
  padding-left: 30px;
  font-size: 25px;
  font: courier;
  color: #454545;
  font: courier;
  font-family: monospace;
  font-weight: 200;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #232323;
}

table {
  float: right;
  margin-right: 100px;
  margin-top: -80px;
}

.WKLYS {
  font-size: 20px;
  color: #454545;
  font: courier;
  font-family: monospace;
  padding: 15px 30px 15px 20px;
}

.WKLYS:link {
  text-decoration: none;
}

.WKLYS:visited {
  color: #454545;
}
