html {
  background: url(background88.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cup {
  width: 15%;
  margin-top: 14%;
  margin-left: 43%;
  -webkit-animation-name: glow;
  -webkit-animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.text {
  font-family: Copperplate;
  text-align: center;
  margin-top: 2%;
  display: block;
  color: white;
  font-size: 40px;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 3s;
}

.sub {
  margin-top: 10px;
  font-family: Copperplate;
  text-align: center;
  margin-top: 10px;
  display: block;
  color: white;
  font-size: 20px;
  -webkit-animation-name: Bruh;
  -webkit-animation-duration: 2.5s;
}

.start {
  font-family: Copperplate;
  margin-top: 50px;
  display: block;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 28px;
  -webkit-animation-name: Dude;
  -webkit-animation-duration: 3s;
}

a:link {
  text-decoration: none;
  color: Black;
}

a:visited {
  text-decoration: none;
  color: Black;
}

a:hover {
  color: #5edee9;
  opacity: 0.7;
}

@-webkit-keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 0.9;}
}

@-webkit-keyframes Bruh {
0% {opacity: 0;}
50% {opacity: 0;}
100% {opacity: 1;}
}

@-webkit-keyframes Dude {
0% {opacity: 0;}
50% {opacity: 0;}
75% {opacity: 0;}
100% {opacity: 1;}
}

@-webkit-keyframes glow {
  0% {opacity: 1;}
  50% {opacity: 0.6;}
  100% {opacity: 1;}
}
